body {
    background: #17191e;
    padding-top: 100px;
    width: 1000px;
    margin: 0 auto;
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

#title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
    max-width: 800px;
    color: #f3f7ff;
}

#intro, #mainChart {
    max-width: 800px;
    font-size: 20px;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #d1d9e6;
}

#btc {
    color: #00c2ff;
}
#blockchain {
    color: #ff4d9d;
}
#nft {
    color: #9cff57;
}

.mainchart-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 36px;
    background-color: #292b2f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}